html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
address,
figure {
  margin: 0;
  padding: 0;
}
button {
  border: 0;
  width: 100vw;
  height: 10vw;
  background-color: rgba(255, 255, 255, 0.64);
}
body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}
h1 {
  font-size: 10vw;
}
h2 {
  font-size: 5vw;
}
header {
  display: flex;
  left: 0;
  margin-top: 2vw;
  position: fixed;
  width: 100%;
  z-index: 2;
}
main {
  background-color: #f9fafb;
  margin-top: 23vw;
}
.header--hamburger {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border: 2vw solid rgba(53, 47, 47, 0.1);
  cursor: pointer;
  font-size: 11vw;
  font-weight: 700;
  height: 14vw;
  margin: 1vw 0 0 3vw;
  text-align: center;
  width: 14vw;
}
.header--hamburger-svg {
  position: absolute;
  margin-top: 35%;
  margin-left: -20%;
  width: 40%;
  fill: #fff;
}
p {
  color: #333;
}
#menu {
  width: 75vw;
  background: #fff;
}
#menu nav ul {
  color: #333;
  font-size: 6vw;
  text-transform: uppercase;
  text-align: center;
}
#menu li {
  padding: 1vw 0;
}
#menu a {
  color: inherit;
  text-decoration: initial;
  padding: inherit;
}
footer ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 40vw;
  list-style-type: none;
  padding: 5vw;
}
footer ul li {
  padding-bottom: 3vw;
}
footer ul li a {
  text-decoration: none;
  color: #585252;
}
.nausika {
  width: 200px;
  height: 400px;
}
#nausika--footerlogo {
  display: flex;
  flex-direction: column;
}
#nausika--logotext-use {
  display: block;
  margin: 0 auto;
}
#nausika--footersvg {
  margin: 0 auto;
  height: 26vw;
  padding: 0 0 2vw 1vw;
  width: 54vw;
  display: block;
}
.nausika--logo-header-svg {
  height: 19vw;
  width: 35vw;
}
.nausika--logo-menu-svg {
  height: 19vw;
  width: 35vw;
  display: block;
  margin: 0 auto;
}
#nausika--headerlogo {
  margin-left: 15vw;
}
.nausika--logo-outerbubble {
  stroke: #000;
}
.nausika--logo-innerbubble {
  fill: rgba(255, 255, 255, 0.7);
  stroke: #333;
}
.nausika--logo-gurl {
  margin: 10vw auto 0 auto;
  width: 26vw;
  padding: 2vw 0 2vw 1vw;
}
@media screen and (min-width: 1024px) {
  body {
    align-items: center;
  }
  main {
    width: 50vw;
  }
  .nausika--logo-header-svg {
    height: 7vw;
  }
  .nausika--logo-menu-svg {
    height: 8vw;
  }
  .header--hamburger {
    height: 6vw;
    width: 6vw;
  }
  #nausika--headerlogo {
    margin-left: 20vw;
  }
  #menu {
    width: 35vw;
  }
  #menu li {
    padding: .3vw 0;
    list-style: none;
  }
  #menu nav ul {
    font-size: 2vw;
  }
  .nausika--logo-gurl {
    width: 10vw;
    height: inherit;
  }
  #nausika--footersvg {
    width: 22vw;
    height: inherit;
  }
  footer ul {
    height: inherit;
    flex-direction: row;
    width: 50vw;
    justify-content: space-between;
    padding: 5vw 0 5vw 0;
  }
}
.cover-box--article-subline {
  background-color: #ece00c;
  font-size: 5vw;
  color: #fff;
  padding: 2vw;
  margin: 0 0 3vw 0;
}
.cover-box--breadcrumbs--musik,
.cover-box--breadcrumbs--musik a {
  color: #cbc14d;
}
article > p:first-of-type:first-letter {
  color: #cbc14d;
}
blockquote {
  background-image: linear-gradient(135deg, #63bf44, #ff5900);
  box-shadow: inset 0 0 30vw #fff;
}
article {
  top: -15vw;
  position: relative;
}
article p {
  margin: 4vw 6vw 4vw 6vw;
}
article h2 {
  color: #585252;
  margin: 5vw 6vw 2vw 6vw;
}
time.published-date {
  display: block;
  margin: 0 0 5vw 0;
  color: #585252;
}
.cover-box {
  margin: 0 auto;
  padding: 10px;
  width: 87vw;
  position: relative;
  top: -15vw;
  background: #fff;
  line-height: 1;
}
.cover-box--article-headline {
  color: #585252;
  margin-bottom: 5vw;
}
.cover-box--breadcrumbs {
  margin-bottom: 5vw;
}
.cover-box--breadcrumbs a {
  text-decoration: none;
}
.cover-box--author {
  padding-top: 4vw;
  height: 25vw;
  width: 25vw;
  margin: 0 auto;
}
.cover-box--author-name {
  display: block;
  font-size: 3vw;
  text-align: center;
  margin-top: 2vw;
}
amp-img.cover-box--author-picture {
  box-shadow: 0 2px 7px 0 #585252;
  border-radius: 100%;
}
figcaption {
  text-align: center;
  color: #585252;
}
article > p:first-of-type:first-letter {
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5vw 0 5vw 0;
  position: relative;
  top: -15vw;
}
.ad--container {
  display: flex;
  justify-content: center;
  position: relative;
  top: -15vw;
}
.social-icon--link {
  text-decoration: none;
}
.social-icon--twitter,
.social-icon--whatsapp,
.social-icon--facebook {
  align-items: center;
  display: flex;
  fill: #fff;
  flex-direction: row;
  justify-content: space-around;
}
.social-icon--facebook {
  background-color: #3c3cde;
}
.social-icon--whatsapp {
  background-color: #06c34b;
}
.social-icon--twitter {
  background-color: #8fd6ec;
}
#social-icon--twitter-svg,
#social-icon--twitter-use,
#social-icon--whatsapp-svg,
#social-icon--whatsapp-use,
#social-icon--facebook-svg,
#social-icon--facebook-use {
  height: 8vw;
  padding: 2vw 0 2vw 1vw;
  width: 9vw;
}
#social-icon--twitter-text,
#social-icon--whatsapp-text,
#social-icon--facebook-text {
  color: #f9fafb;
  font-size: 5vw;
  padding: 1vw;
}
blockquote {
  color: #fff;
  border: 3vw solid #fff;
  padding-top: 4vw;
}
blockquote p {
  text-align: center;
  font-weight: bold;
  color: #f9fafb;
  font-size: 8vw;
  padding-top: 14vw;
  padding-bottom: 14vw;
}
blockquote p::before,
blockquote p::after {
  font-size: 47vw;
  position: absolute;
}
blockquote p::before {
  content: open-quote;
  margin: -52vw 0 0 0;
  left: 5vw;
}
blockquote p::after {
  content: close-quote;
  margin: 4vw 0 0 0;
  right: 5vw;
}
article ul {
  margin: 4vw 14vw 4vw 14vw;
}
article ol {
  margin: 4vw 9vw 4vw 9vw;
}
article ol li {
  padding-bottom: 1vw;
}
.article-caption {
  color: #f0f8ff;
  font-size: 2.5vw;
  margin: 3vw 5vw;
  position: absolute;
  right: 1vw;
  text-shadow: 1px 1px #000;
  top: 0;
}
figure {
  position: relative;
}
@media screen and (min-width: 1024px) {
  main {
    margin-top: 11vw;
  }
  .cover-box {
    top: 0;
    width: inherit;
  }
  .cover-box--breadcrumbs {
    margin-bottom: 2vw;
  }
  time.published-date {
    margin: 0 0 2vw 0;
  }
  .cover-box--article-headline {
    font-size: 5vw;
  }
  .cover-box--article-subline {
    font-size: 2vw;
    padding: 1vw;
  }
  .cover-box--author {
    width: 10vw;
    height: 10vw;
  }
  .cover-box--author-name {
    font-size: 1vw;
  }
  .social-icons {
    top: 0;
    justify-content: center;
  }
  .ad--container {
    top: 0;
  }
  #social-icon--twitter-svg,
  #social-icon--twitter-use,
  #social-icon--whatsapp-svg,
  #social-icon--whatsapp-use,
  #social-icon--facebook-svg,
  #social-icon--facebook-use {
    height: 2vw;
    padding: 1vw 0 1vw 1vw;
    width: 2vw;
  }
  #social-icon--twitter-text,
  #social-icon--whatsapp-text,
  #social-icon--facebook-text {
    color: #f9fafb;
    font-size: 1vw;
    padding: 1vw;
  }
  .social-icon--whatsapp {
    display: none;
  }
  article {
    top: 0;
  }
  article p {
    font-size: 18px;
    line-height: 1.4;
  }
  article h2 {
    font-size: 3vw;
  }
  blockquote {
    border: 1vw solid #fff;
  }
  blockquote p {
    font-size: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }
  blockquote p::before,
  blockquote p::after {
    font-size: 12vw;
    position: absolute;
  }
  blockquote p::before {
    content: open-quote;
    margin: -14vw 0 0 0;
    left: 3vw;
  }
  blockquote p::after {
    content: close-quote;
    margin: 1vw 0 0 0;
    right: 3vw;
  }
  .article-caption {
    font-size: 10px;
    margin: 1vw 0;
  }
}
